<!DOCTYPE html>
<html>
<head>
	<title>Seed disperser</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container h-100">
		<div class="row align-items-center h-100">
			<div class="col-lg-10 col-sm-12 mx-auto">
				<div class="jumbotron" style="padding:2rem 2rem">

					<h3 class="display-5 text-center">Enter data</h3>

					<form action="/seed-disperser" method="post">
						<div>
							<div class="form-group row">
								<label class="col-2 col-form-label">Length</label>
								<div class="col-10">
									<input class="form-control" type="text" id="length" name="length" aria-label="length" placeholder="ex: 50">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">Width</label>
								<div class="col-10">
									<input class="form-control" type="text" id="width" name="width" aria-label="width" placeholder="ex: 30">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">Canopy</label>
								<div class="col-10">
									<input class="form-control" type="text" id="canopy" name="canopy" aria-label="canopy" placeholder="ex: 500" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">Tree stratum</label>
								<div class="col-10">
									<input class="form-control" type="text" id="tree_stratum" name="tree_stratum" aria-label="tree_stratum" placeholder="ex: 1400" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">Understorey</label>
								<div class="col-10">
									<input class="form-control" type="text" id="understorey" name="understorey" aria-label="understorey" placeholder="ex: 1300" >
								</div>
							</div>
							<div class="form-group row">
								<label class="col-2 col-form-label">Shrub Layer</label>
								<div class="col-10">
									<input class="form-control" type="text" id="shrub_layer" name="shrub_layer" aria-label="shrub_layer" placeholder="ex: 1300" >
									<small id="validation-warning" class="form-text text-muted">Ensure the sum of all seeds equals length * width * 3. Since we want exactly 3 seeds per square meter.</small>
								</div>

							</div>
							

							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="submit">Go!</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>

		{% if result is defined %}
		{{ result }}

		{% endif %}

		<div id="project-description" class="row align-items-center h-100 my-3">
			<div class="col-lg-10 col-sm-12 mx-auto">
				<div>
					<h4>Project description</h4>
					<p> This project was done in order to help my friend, the founder of <a href="https://permafforest.fr/">permafforest.fr</a>, to plant and restore forests using the <a href="https://en.wikipedia.org/wiki/Akira_Miyawaki#Method_and_conditions_for_success"> Miyawaki method<a/>. This method of ecological engineering today known as the "Miyawaki method" aims to restore native forests from seeds of native trees. </p>
					<p>One of its conditions for success is "Plantations randomly distributed in space in the way plants are distributed in a clearing or at the edge of the natural forest, not in rows or staggered (meeting on this point with the Prosilva methods in Europe)." 
					But by using randomness we can end up with multiple trees from the same layer at the same spot, which would make them compete for resources (sunlight, space...etc...) and therefore not growing the best way. 
					This program tries to avoid that edge case as much as possible in order to have the healthiest and fastest growing forest.
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>



